body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Cairo, sans-serif;
}
.container {
  text-align: center;
  background-color: #fff;
  padding: 30px 70px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}
h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  user-select: none;
}
audio {
  width: 100%;
}
